In [ ]:
import pandas as pd
import numpy as np
import synthetic

In [ ]:
data_files = [pd.read_csv(f) for f in ["data1.csv","data2.csv","data3.csv","data4.csv"]]
swap_set = pd.read_csv("data5.csv").astype(np.str)

In [3]:
full_data = pd.concat(data_files).astype(np.str)

In [4]:
reduced_data = full_data.drop(["first_name","first_name2","last_name","last_name2","email","address","city2","zip2","state2"],axis=1)

In [5]:
reduced_data.columns = ["first_name","last_name","email","address","ssn","sex","city","zip","state","dob","phone","phone2","phone3","race","pcp_npi","suffix","title"]

In [6]:
id_column = np.concatenate([np.arange(300000),np.arange(200000,400000)])

In [7]:
id_column[np.logical_not(np.logical_and(id_column >= 200000,id_column<300000))] = -1

In [8]:
np.sum(id_column != -1)

200000

In [ ]:
from collections import Counter

In [9]:
left = reduced_data.iloc[:300000].copy()
right = reduced_data.iloc[200000:].copy()

In [13]:
complete_data = pd.concat([left,right])
complete_data.reset_index(drop=True,inplace=True)

In [14]:
complete_indcs_df = {}

In [15]:
synthetic.string_transpose(complete_data,complete_indcs_df,4,0.05)
print("Transpose Complete.")
synthetic.string_delete(complete_data,complete_indcs_df,3,0.05)
print("Delete Complete.")
synthetic.string_insert_alpha(complete_data,complete_indcs_df,3,0.05,columns=["first_name","last_name","email","address","city","title"])
print("Insert Alpha Complete.")
synthetic.string_insert_numeric(complete_data,complete_indcs_df,3,0.05,columns=["phone","phone2","phone3","zip"])
print("Insert Numeric Complete.")
synthetic.soundex_string_corrupt(complete_data,complete_indcs_df,0.1,columns=["first_name","last_name"])
print("Soundex Corrupt Complete.")
synthetic.edit_values(complete_data,swap_set,complete_indcs_df,0.1)
print("Edit Values Complete.")

columns = ["first_name",
            "last_name",
            "email",
            "address",
            "ssn",
            "sex",
            "city",
            "zip",
            "state",
            "dob",
            "phone",
            "phone2",
            "phone3",
            "race",
            "pcp_npi",
            "suffix",
            "title"]

drop_pcts = [0.03,
             0.03,
             0.75,
             0.06,
             0.25,
             0.07,
             0.07,
             0.07,
             0.02,
             0.02,
             0.85,
             0.85,
             0.2,
             0.2,
             0.99,
             0.2]

synthetic.drop_per_column(complete_data,complete_indcs_df,drop_pct=drop_pcts,columns=columns)
print("Per-Column Drop Complete.")

Transpose Complete.
Delete Complete.
Insert Alpha Complete.
Insert Numeric Complete.
Soundex Corrupt Complete.
Edit Values Complete.
Per-Column Drop Complete.

In [16]:
len(complete_data)

500000

In [17]:
import pickle

In [18]:
pickle.dump(complete_indcs_df,open("corrupted_v2_stats.pkl","wb"))

In [19]:
complete_data["id"] = id_column

In [20]:
complete_data[complete_data.id == 299999]

,first_name,last_name,email,address,ssn,sex,city,zip,state,dob,phone,phone2,phone3,race,pcp_npi,suffix,title,id
299999,Marigold,Daniaud,,4794 Oriole Drive,474-04-7575,F,Houston,77055,Texas,2017/05/15,,,337-145-9162,Taiwanese,,II,Honorable,299999
399999,Marigold,Dainuad,,94794 Oriole Drive,,F,oHusotn,77055,Texas,2017/05/15,71435-922-95979,408-922-5964,337-145-9162,Taiwanese,,II,Honorable,299999

In [ ]:
complete_indcs_df

In [24]:
complete_indcs_df[(6,399999)]

{'string_transpose': {'num_transposed': 2, 'idcs_transposed': array([4, 0])}}

In [25]:
complete_data.to_csv("corrupted_v2.csv",index=None)

## Old Code

left_indcs_df = {}

synthetic.string_transpose(left,left_indcs_df,4,0.05)
print("Transpose Complete.")
synthetic.string_delete(left,left_indcs_df,3,0.05)
print("Delete Complete.")
synthetic.string_insert_alpha(left,left_indcs_df,3,0.05,columns=["first_name","last_name","email","address","city","title"])
print("Insert Alpha Complete.")
synthetic.string_insert_numeric(left,left_indcs_df,3,0.05,columns=["phone","phone2","phone3","zip"])
print("Insert Numeric Complete.")
synthetic.soundex_string_corrupt(left,left_indcs_df,0.1,columns=["first_name","last_name"])
print("Soundex Corrupt Complete.")
synthetic.edit_values(left,swap_set,left_indcs_df,0.1)
print("Edit Values Complete.")

columns = ["first_name",
            "last_name",
            "email",
            "address",
            "ssn",
            "sex",
            "city",
            "zip",
            "state",
            "dob",
            "phone",
            "phone2",
            "phone3",
            "race",
            "pcp_npi",
            "suffix",
            "title"]

drop_pcts = [0.03,
             0.03,
             0.75,
             0.06,
             0.25,
             0.07,
             0.07,
             0.07,
             0.02,
             0.02,
             0.85,
             0.85,
             0.2,
             0.2,
             0.99,
             0.2]

synthetic.drop_per_column(left,left_indcs_df,drop_pct=drop_pcts,columns=columns)
print("Per-Column Drop Complete.")

right_indcs_df = {}

synthetic.string_transpose(right,right_indcs_df,4,0.05)
print("Transpose Complete.")
synthetic.string_delete(right,right_indcs_df,3,0.05)
print("Delete Complete.")
synthetic.string_insert_alpha(right,right_indcs_df,3,0.05,columns=["first_name","last_name","email","address","city","title"])
print("Insert Alpha Complete.")
synthetic.string_insert_numeric(right,right_indcs_df,3,0.05,columns=["phone","phone2","phone3","zip"])
print("Insert Numeric Complete.")
synthetic.soundex_string_corrupt(right,right_indcs_df,0.1,columns=["first_name","last_name"])
print("Soundex Corrupt Complete.")
synthetic.edit_values(right,swap_set,right_indcs_df,0.1)
print("Edit Values Complete.")

columns = ["first_name",
            "last_name",
            "email",
            "address",
            "ssn",
            "sex",
            "city",
            "zip",
            "state",
            "dob",
            "phone",
            "phone2",
            "phone3",
            "race",
            "pcp_npi",
            "suffix",
            "title"]

drop_pcts = [0.03,
             0.03,
             0.75,
             0.06,
             0.25,
             0.07,
             0.07,
             0.07,
             0.02,
             0.02,
             0.85,
             0.85,
             0.2,
             0.2,
             0.99,
             0.2]
synthetic.drop_per_column(right,right_indcs_df,drop_pct=drop_pcts,columns=columns)
print("Per-Column Drop Complete.")

len(right_indcs_df)

len(left_indcs_df)

len(left)

len(right)

from scipy.sparse import dok_matrix

test_left_dok = dok_matrix(left_indcs_df)

import pickle

pickle.dump(left_indcs_df,open("left_stats.pkl","wb"))

pickle.dump(right_indcs_df,open("right_stats.pkl","wb"))

left.to_csv("corrupted_left_v2.csv",index=None)
right.to_csv("corrupted_right_v2.csv",index=None)

out_df = pd.concat([left,right],axis=0,ignore_index=True)

out_df["id"] = id_column

out_df[out_df.id == 299999]

right_indcs_df[(2,399999)]